{% extends "scoring/django/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Create round</h3>
        <h5> Start adding in the required details for your round </h5>
        <div>
            <hr>
            <p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_rounds' %}"> Back </a>
            </p>
            <hr>
        </div>

        <form method="POST" autocomplete="off" >
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-outline-success w-100 btn-block p-2"> Create round </button>
        </form>
    </div>
    <br>

{% endblock  %}