{% extends "scoring/django/base.html" %}

{% block title %}Rounds{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Rounds</h1>
        <p>Welcome to the rounds page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_rounds' %}"> Create a new record </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th> </th>
            </tr>
            </thead>
            {% if rounds %}
                {% for round in rounds %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ round.name }} </td>
                        <td> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

