# Consult release notes for supported versions of Django, Wagtail, and Python.
# https://docs.coderedcorp.com/wagtail-crx/releases/
coderedcms==6.0.*
wagtail==7.2.*
django-extensions==4.1
pyclean==3.5.0
lorem-text==3.0