{% extends "scoring/django/base.html" %}

{% block title %}Scores{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Scores</h1>
        <p>Welcome to the scores page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_score_create' %}"> Create a new score </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Archer</th>
                <th scope="col">Score</th>
                <th scope="col">Number of arrows</th>
                <th scope="col">Round</th>
                <th> </th>
            </tr>
            </thead>
            {% if scores %}
                {% for score in scores %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ score.round_archer.archer }} </td>
                        <td>{{ score.score }} </td>
                        <td>{{ score.number_of_arrows }} </td>
                        <td>{{ score.round_archer.round }} </td>
                        <td> 
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_score_singular' score.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

