{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <a href="{% url 'scoring_scores' %}" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Return</a>
            &nbsp;
            <a href="{% url 'scoring_score_update' score.id %}" class="btn btn-outline-info btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Update score </a>
            &nbsp;
            <a href="{% url 'scoring_score_delete' score.id %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>Archer and Round: {{score.round_archer|upper}} </strong>
                                {{ score.round }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong> ID </strong></td>
                        <td> {{ score.id }} </td>
                    </tr>
                    <tr>
                        <td><strong> Score </strong></td>
                        <td> {{ score.score }} </td>
                    </tr>
                    <tr>
                        <td><strong> Number of arrows </strong></td>
                        <td> {{ score.number_of_arrows }} </td>
                    </tr>
                    <tr>
                        <td><strong> Author </strong></td>
                        <td> {{ score.author }} </td>
                    </tr>
                    <tr>
                        <td><strong> Info </strong></td>
                        <td> {{ score.info }} </td>
                    <tr>
                        <td><strong>Created&nbsp;at:</strong></td>
                        <td>{{ score.created_at }}</td>
                    </tr>
                    <tr>
                        <td><strong>Modified&nbsp;at:</strong></td>
                        <td>{{ score.modified_at }}</td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    
{% endblock %}

