{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <a href="{% url 'scoring_teams' %}" class="btn btn-secondary btn-sm"> Return </a>
            &nbsp;
            <a href="{% url 'scoring_team_update' team.id %}" class="btn btn-info btn-sm"> Update team </a>
            &nbsp;
            <a href="{% url 'scoring_team_delete' team.id %}" class="btn btn-danger btn-sm"> Delete </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>Team name: </strong>
                                {{ team.name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong> ID </strong></td>
                        <td> {{ team.id }} </td>
                    </tr>
                    <tr>
                        <td><strong> Slug </strong></td>
                        <td> {{ team.slug }} </td>
                    </tr>
                    <tr>
                        <td><strong> Author </strong></td>
                        <td> {{ team.author }} </td>
                    </tr>
                    <tr>
                        <td><strong> Info </strong></td>
                        <td> {{ team.info }} </td>
                    </tr>
                    <tr>
                        <td><strong> Is active </strong></td>
                        <td> {{ team.is_active }} </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" width="10px">#</th>
                            <th scope="col">Members</th>
                        </tr>
                    </thead>
                    {% if team.archers.all %}
                        {% for archer in team.archers.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }} </th>
                                <td>{{ archer }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

    </div>
    
{% endblock %}