{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <a href="{% url 'scoring_clubs' %}" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Return</a>
            &nbsp;
            <a href="{% url 'scoring_club_update' club.id %}" class="btn btn-outline-info btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Update club </a>
            &nbsp;
            <a href="{% url 'scoring_club_delete' club.id %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete </a>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>Club name: </strong>
                                {{ club.name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" width="10px"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong> ID </strong></td>
                        <td> {{ club.id }} </td>
                    </tr>
                    <tr>
                        <td><strong> Address </strong></td>
                        <td> {{ club.address }} </td>
                    </tr>
                    <tr>
                        <td><strong> Zip&nbsp;code </strong></td>
                        <td> {{ club.zip_code }} </td>
                    </tr>
                    <tr>
                        <td><strong> Town </strong></td>
                        <td> {{ club.town }} </td>
                    </tr>
                    <tr>
                        <td><strong> Phone </strong></td>
                        <td> {{ club.phone }} </td>
                    </tr>
                    <tr>
                        <td><strong> Email </strong></td>
                        <td> {{ club.email }} </td>
                    </tr>
                    <tr>
                        <td><strong> Website </strong></td>
                        <td> {{ club.website }} </td>
                    </tr>
                    <tr>
                        <td><strong> Social&nbsp;media </strong></td>
                        <td> {{ club.social_media }} </td>
                    </tr>
                    <tr>
                        <td><strong> Slug </strong></td>
                        <td> {{ club.slug }} </td>
                    </tr>
                    <tr>
                        <td><strong> Author </strong></td>
                        <td> {{ club.author }} </td>
                    </tr>
                    <tr>
                        <td><strong> Is&nbsp;active </strong></td>
                        <td> {{ club.is_active }} </td>
                    </tr>
                    <tr>
                        <td><strong>Created&nbsp;at:</strong></td>
                        <td>{{ club.created_at }}</td>
                    </tr>
                    <tr>
                        <td><strong>Modified&nbsp;at:</strong></td>
                        <td>{{ club.modified_at }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" width="10px">#</th>
                            <th scope="col">Members</th>
                        </tr>
                    </thead>
                    {% if club.archers.all %}
                        {% for archer in club.archers.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }} </th>
                                <td>{{ archer }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

    </div>
    
{% endblock %}