{% extends "scoring/django/base.html" %}

{% block title %}Scoring Sheets{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Scoring Sheets</h1>
        <p>Welcome to the scoringsheet page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_scoringsheet_create' %}"> Create a new scoringsheet </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Rows</th>
                <th scope="col">Columns</th>
                <th> </th>
            </tr>
            </thead>
            {% if scoringsheets %}
                {% for scoringsheet in scoringsheets %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ scoringsheet.name }} </td>
                        <td>{{ scoringsheet.columns }} </td>
                        <td>{{ scoringsheet.rows }} </td>
                        <td> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

