{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Welcome to the dashboard page</h1>
        <p>Work in progress</p>
    </div>

    <hr>

    <div class="container-fluid text-center">
        <a class="btn btn-outline-primary col-4" type="button" href="{% url 'scoring_scoringwizards' %}"> Scoring Wizard &nbsp; <i class="fa fa-users" aria-hidden="true"></i></a>
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td class='text-center'>
                    None
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

