{% extends "scoring/django/base.html" %}

{% block title%}Databse Tables{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Database Tables Home Page</h1>
        <p>Hello, Welcome to the Scoring Database Tables</p>
        <br>
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_agegroups' %}"> Agegroups </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_archers' %}"> Archers </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_categories' %}"> Categories </a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_clubs' %}"> Clubs </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_competitions' %}"> Competitions </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_disciplines' %}"> Disciplines </a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_rounds' %}"> Rounds </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_scores' %}"> Scores </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_scoringsheets' %}"> Scoring Sheets </a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_targetfaces' %}"> Target Faces </a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_teams' %}"> Teams </a>
                </td>
                <td class='text-center'>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

