{% extends "scoring/django/base.html" %}

{% block title%}Database Tables{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Database Tables Home Page</h1>
        <p>Hello, Welcome to the Scoring Database Tables</p>
        <br>
    </div>

    <hr>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_agegroups' %}"> Agegroups &nbsp; <i class="fa fa-users" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_archers' %}"> Archers &nbsp; <i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_categories' %}"> Categories &nbsp; <i class="fa fa-list" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_clubs' %}"> Clubs &nbsp; <i class="fa fa-building" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_competitions' %}"> Competitions &nbsp; <i class="fa fa-trophy" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_disciplines' %}"> Disciplines &nbsp; <i class="fa fa-star" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_rounds' %}"> Rounds &nbsp; <i class="fa fa-circle" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_scores' %}"> Scores &nbsp; <i class="fa fa-space-shuttle" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_scoringsheets' %}"> Scoring Sheets &nbsp; <i class="fa fa-map-marker" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_targetfaces' %}"> Target Faces &nbsp; <i class="fa fa-bullseye" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                    <a class="btn btn-outline-primary col-12" type="button" href="{% url 'scoring_teams' %}"> Teams &nbsp; <i class="fa fa-rebel" aria-hidden="true"></i></a>
                </td>
                <td class='text-center'>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

