{% extends "scoring/django/base.html" %}

{% block title %}Disciplines{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Disciplines</h1>
        <p>Welcome to the disciplines page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_discipline_create' %}"> Create a new discipline </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th> </th>
            </tr>
            </thead>
            {% if disciplines %}
                {% for disciplines in disciplines %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ disciplines.name }} </td>
                        <td> 
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_discipline_singular' disciplines.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

