{% extends "scoring/django/base.html" %}

{% block title %}Competitions{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Competitions</h1>
        <p>Welcome to the competitions page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_competition_create' %}"> Create a new competition </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th> </th>
            </tr>
            </thead>
            {% if competitions %}
                {% for competition in competitions %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ competition.name }} </td>
                        <td> 
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_competition_singular' competition.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

