{% extends "scoring/django/base.html" %}

{% block title %}Age Groups{% endblock %}

{% block content %}

    <div class="container-fluid pt-5 text-center bg-warning">
        <h1>Age Groups</h1>
        <p>Welcome to the agegroups page</p>
        <br>
    </div>

    <div>
        <hr>
        <p>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_database' %}"> Back </a>
           <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_agegroup_create' %}"> Create a new agegroup </a>
        </p>
        <hr>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">From year</th>
                <th scope="col">Until year</th>
                <th> </th>
            </tr>
            </thead>
            {% if agegroups %}
                {% for agegroup in agegroups %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{ agegroup.name }} </td>
                        <td>{{ agegroup.from_year }} </td>
                        <td>{{ agegroup.until_year }} </td>
                        <td> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}

