{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <a href="{% url 'scoring_agegroups' %}" class="btn btn-outline-secondary btn-sm"> Return </a>
            &nbsp;
            <a href="{% url 'scoring_agegroup_update' agegroup.id %}" class="btn btn-outline-info btn-sm"> Update agegroup </a>
            &nbsp;
            <a href="{% url 'scoring_agegroup_delete' agegroup.id %}" class="btn btn-outline-danger btn-sm"> Delete </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>AgeGroup name: </strong>
                                {{ agegroup.name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" width="10px"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>                        
                    </thead>
                    <tr>
                        <td><strong>ID:</strong></td>
                        <td>{{ agegroup.id }}</td>
                    </tr>
                    <tr>
                        <td><strong>From&nbsp;year:</strong></td>
                        <td>{{ agegroup.from_year }}</td>
                    </tr>
                    <tr>
                        <td><strong>Until&nbsp;year:</strong></td>
                        <td>{{ agegroup.until_year }}</td>
                    </tr>
                    <tr>
                        <td><strong>Is&nbsp;active:</strong></td>
                        <td>{{ agegroup.is_active }}</td>
                    </tr>
                    <tr>
                        <td><strong>Created&nbsp;at:</strong></td>
                        <td>{{ agegroup.created_at }}</td>
                    </tr>
                    <tr>
                        <td><strong>Modified&nbsp;at:</strong></td>
                        <td>{{ agegroup.modified_at }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    
{% endblock %}