{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <a href="{% url 'scoring_targetfaces' %}" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Return</a>
            &nbsp;
            <a href="{% url 'scoring_targetface_update' targetface.id %}" class="btn btn-outline-info btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Update targetface </a>
            &nbsp;
            <a href="{% url 'scoring_targetface_delete' targetface.id %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>Targetface name: </strong>
                                {{ targetface.name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong> ID </strong></td>
                        <td> {{ targetface.id }} </td>
                    </tr>
                    <tr>
                        <td><strong> Slug </strong></td>
                        <td> {{ targetface.slug }} </td>
                    </tr>
                    <tr>
                        <td><strong> Author </strong></td>
                        <td> {{ targetface.author }} </td>
                    </tr>
                    <tr>
                        <td><strong> Info </strong></td>
                        <td> {{ targetface.info }} </td>
                    </tr>
                    <tr>
                        <td><strong> Is&nbsp;active </strong></td>
                        <td> {{ targetface.is_active }} </td>
                    <tr>
                        <td><strong>Created&nbsp;at:</strong></td>
                        <td>{{ targetface.created_at }}</td>
                    </tr>
                    <tr>
                        <td><strong>Modified&nbsp;at:</strong></td>
                        <td>{{ targetface.modified_at }}</td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    
{% endblock %}