{% extends "scoring/django/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Create archer</h3>
        <h5> Start adding in the required details for your archer </h5>
        <div>
            <hr>
            <p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_archers' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back</a>
            </p>
            <hr>
        </div>

        <form method="POST" autocomplete="off" >
            {% csrf_token %}
            {{ form.union_number|as_crispy_field }}
            <br>
            {{ form.last_name|as_crispy_field }}
            <br>
            {{ form.first_name|as_crispy_field }}
            <br>
            {{ form.middle_name|as_crispy_field }}
            <br>
            {{ form.info|as_crispy_field }}
            <br>
            {{ form.email|as_crispy_field }}
            <br>
            {{ form.phone|as_crispy_field }}
            <br>
            {{ form.address|as_crispy_field }}
            <br>
            {{ form.city|as_crispy_field }}
            <br>
            {{ form.zip_code|as_crispy_field }}
            <br>
            {{ form.province|as_crispy_field }}
            <br>
            {{ form.birth_date|as_crispy_field }}
            <br>
            {{ form.slug|as_crispy_field }}
            <br>
            {{ form.author|as_crispy_field }}
            <br>
            <button type="submit" class="btn btn-outline-success w-100 btn-block p-2"> Create archer &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </form>
    </div>
    <br>

{% endblock  %}