{% extends "scoring/django/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Update category</h3>
        <h3>Update your category down below</h3>
        <div>
            <hr>
            <p>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'scoring_category_singular' form.instance.id %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back</a>
            </p>
            <hr>
        </div>

        <form method="POST" autocomplete="off" >
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            <br>
            {{ form.info|as_crispy_field }}
            <br>
            {{ form.slug|as_crispy_field }}
            <br>
            {{ form.author|as_crispy_field }}
            <br>
            {{ form.archers|as_crispy_field }}
            <br>
            <button type="submit" class="btn btn-outline-success w-100 btn-block p-2"> Update category &nbsp; <i class="fa fa-save" aria-hidden="true"></i></button>
        </form>

    </div>
    <br>

{% endblock %}
