{% extends "scoring/django/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <a href="{% url 'scoring_categories' %}" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Return</a>
            &nbsp;
            <a href="{% url 'scoring_category_update' category.id %}" class="btn btn-outline-info btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp; Update category </a>
            &nbsp;
            <a href="{% url 'scoring_category_delete' category.id %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete </a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <td scope="row" colspan="2">
                                <strong>Category name: </strong>
                                {{ category.name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" width="10px"> Field </th>
                            <th scope="col"> Value </th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong> ID </strong></td>
                        <td> {{ category.id }} </td>
                    </tr>
                    <tr>
                        <td><strong> Slug </strong></td>
                        <td> {{ category.slug }} </td>
                    </tr>
                    <tr>
                        <td><strong> Author </strong></td>
                        <td> {{ category.author }} </td>
                    </tr>
                    <tr>
                        <td><strong> Is&nbsp;active </strong></td>
                        <td> {{ category.is_active }} </td>
                    </tr>
                    <tr>
                        <td><strong>Created&nbsp;at:</strong></td>
                        <td>{{ category.created_at }}</td>
                    </tr>
                    <tr>
                        <td><strong>Modified&nbsp;at:</strong></td>
                        <td>{{ category.modified_at }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" width="10px">#</th>
                            <th scope="col">Members</th>
                        </tr>
                    </thead>
                    {% if category.archers.all %}
                        {% for archer in category.archers.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }} </th>
                                <td>{{ archer }} </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

    </div>    
{% endblock %}